# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=notes-service-db
POSTGRES_HOST_PORT=3324

# prisma
DATABASE_URL=postgresql://root:senha@notes-service-backend-database:5432/notes-service-db

# node
PORT=1926
NODE_VERSION=24-alpine