# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=senha
POSTGRES_DB=notes-service-db
POSTGRES_HOST_PORT=3324

# jwt
JWT_SECRET=njlkbfsuygjhkjnldjfhgdghgfchgvhbjl342567788hyu3g497r634fr43jgfriyfc87f347g84fgv3v79g497fsdcigi3ye4y

# prisma
DATABASE_URL=postgresql://root:senha@notes-service-backend-database:5432/notes-service-db

# node
PORT=3000